body {
	font-family: arial, Helvetica, sans-serif;
	background-color: black;
	font-size: 20px;
	margin: 0;
		}
.row::after{
	content:"";
	clear: both;
	display: grid;
	padding: 20px;
		}
.flip-box{
  background-color: transparent;
  width: 500px;
  height: 400px;
  perspective: 1000px;
	margin:auto;
	padding:20px;
		}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
		}
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
		}
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
		}
.flip-box-front img {
	height: 400px
	width: 500px
		}
.flip-box-back {
  background-color: transparent;
  color: #000000;
  transform: rotateY(180deg);
		}
.header {
	background-image: url("https://thumb2.holidaypirates.com/A_BTDTfMgMHIJXE5814AfDdiFJc=/1314x600/https://media.mv.urlaubspiraten.de/images/2015/02/airplane-flying-above-tropical-sea-at-sunset-image-id-129132983-1422889323-hEab.jpg");
	background-size: cover;
	height: 700px;
	padding: 30px;
	text-align: center;
		}
#navbar {
	overflow: hidden;
	background-color: black;
		}
#navbar a {
	float: left;
	display: block;
	color: #ddd;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
		}
#navbar a:hover {
	background-color: #ddd;
	color: black;
		}
#navbar a.active {
	background-color: #ddd;
	color: white;
		}

.content {
	padding: 16px;
		}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
		}

.sticky + .content {
	-top: 60px;
		}
